{%- liquid
  assign social_icons = true
  if settings.social_facebook_link == blank and settings.social_instagram_link == blank and settings.social_youtube_link == blank and settings.social_tiktok_link == blank and settings.social_twitter_link == blank and settings.social_pinterest_link == blank and settings.social_snapchat_link == blank and settings.social_tumblr_link == blank and settings.social_vimeo_link == blank
    assign social_icons = false
  endif
  if section.settings.enable_country_selector or section.settings.enable_language_selector
    assign language_country_selector = true
  endif
  if section.blocks.size > 0
    assign announcement_bar = true
  endif
-%}

{% if social_icons %}
  {{ 'component-list-social.css' | asset_url | stylesheet_tag }}
{% endif %}
{% if section.settings.display_annoucement == true %}
  <section style="background-color: {%- if section.settings.bg-color_announcement_id -%} {{- section.settings.bg-color_announcement_id -}}{%- endif -%}; color: {%- if section.settings.text-color_announcement_id -%}{{- section.settings.text-color_announcement_id  -}}{%- endif -%}" class="w-full h-[51px] flex justify-center items-center {% if section.settings.show_line_separator %} border {% endif %}">
    <div class="container flex justify-center items-center gap-2">   
        <div class="hidden lg:!block lg:full lg:w-full lg:max-w-[33%]">
          {% if section.settings.show_social and social_icons  %}
            {% render 'social-medias' %}
          {% endif %}
        </div>    
      {% for block in section.blocks %}
          {%- case block.type -%}
            {%- when "announcement" -%}
              <div class="w-full mySlides hidden  h-full border lg:w-full lg:max-w-[33%]">
                <p class="block text-center font-openSans text-sm font-normal">
                  <a class="block"  href="{{ block.settings.url }}">
                    {{ block.settings.text }}
                  </a>
                </p>
              </div>
          {%- endcase -%}
      {% endfor %}          
      <div class="hidden lg:!block lg:w-full lg:max-w-[33%] border">
        {% form 'localization' %}         
          <div class="hidden lg:!flex lg:justify-end lg:items-center lg:gap-4">
            <div class="lg:relative lg:w-[130px]">
              <button type="button" class="country-language-1 lg:block lg:text-end lg:w-full">
                {{ localization.country }}
              </button>
              <div class="country-language-card-1 lg:hidden lg:bg-white shadow-2xl lg:p-4 lg:absolute lg:z-10 lg:top-9 lg:right-0 lg:w-[130px]">
                {% for country in localization.available_countries %}
                  <li class="lg:block lg:text-black lg:py-2 lg:text-center">
                    <a href="#" data-value="{{ country.iso_code }}">
                      {{ country.name }}
                    </a>
                  </li>
                {% endfor %}
              </div>
            </div>
            
            <div class="lg:relative lg:w-[130px]">
              <button type="button" class="country-language-2 lg:block lg:text-end lg:w-full">English</button>
              <div class="country-language-card-2 lg:hidden lg:bg-white z-10 shadow-2xl lg:p-4 lg:absolute lg:top-9 lg:right-0 lg:w-[130px]">
                <span class="lg:block lg:text-black lg:py-2 lg:text-center">Austria</span>
                <span class="lg:block lg:text-black lg:py-2 lg:text-center">Canada</span>
                <span class="lg:block lg:text-black lg:py-2 lg:text-center">United States</span>
              </div>
            </div>
          </div>
          <input type="hidden" name="country_code" value="{{ localization.country.iso_code }}">
        {% endform %}
      </div>
      
    </div>
  </section>
      
  

  
{% endif %}
<script>
  let slideIndex = 0;
  showSlides();
  // Liquid speed variable
  let changeSlidesSpeed = {{ section.settings.change_slides_speed |  escape }}
  let inChangeSlidesSpeed = changeSlidesSpeed * 1000;

  function showSlides() {
    let slides = document.getElementsByClassName("mySlides");
    for (let index = 0; index < slides.length; index++) {
      slides[index].classList.add("hidden")
    }
    slideIndex++
    if (slideIndex > slides.length) {
      slideIndex = 1;
    }
    slides[slideIndex - 1 ].classList.remove("hidden")
    slides[slideIndex - 1].classList.add("block")
    setTimeout(showSlides, 5000)
  }

  // Open and close country and language modal
  const countryLanguageOne = document.getElementsByClassName('country-language-1')[0];
  const countryLanguageTwo = document.getElementsByClassName('country-language-2')[0];
  const countryLanguageCardOne = document.getElementsByClassName('country-language-card-1')[0];
  const countryLanguageCardTwo =document.getElementsByClassName('country-language-card-2')[0];
  
  countryLanguageOne.addEventListener('click', () =>{
   countryLanguageCardOne.classList.remove('lg:hidden')
   countryLanguageCardOne.classList.add('lg:block')
  })

</script>
{% schema %}
{
  "name": "t:sections.announcement-bar.name",
  "max_blocks": 3,
  "class": "announcement-bar-section",
  "enabled_on": {
    "groups": ["header"]
  },
  "settings": [
    {
      "type": "header",
      "content": "Display Announcement",
      "info": "Decide whether you want to display or hide your annoucement bar"
    },
    {
      "type": "checkbox",
      "id": "display_annoucement",
      "default": true,
      "label": "Display Announcement"
    },
    {
      "type": "color",
      "id": "bg-color_announcement_id",
      "label": "Background Color",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "text-color_announcement_id",
      "label": "Text Color",
      "default": "#ffffff"
    },
    {
      "type": "checkbox",
      "id": "show_line_separator",
      "default": true,
      "label": "t:sections.header.settings.show_line_separator.label"
    },
    {
      "type": "header",
      "content": "t:sections.announcement-bar.settings.header__1.content",
      "info": "t:sections.announcement-bar.settings.header__1.info"
    },
    {
      "type": "checkbox",
      "id": "show_social",
      "default": false,
      "label": "t:sections.announcement-bar.settings.show_social.label"
    },
    {
      "type": "header",
      "content": "t:sections.announcement-bar.settings.header__2.content"
    },
    {
      "type": "checkbox",
      "id": "auto_rotate",
      "label": "t:sections.announcement-bar.settings.auto_rotate.label",
      "default": false
    },
    {
      "type": "range",
      "id": "change_slides_speed",
      "min": 3,
      "max": 10,
      "step": 1,
      "unit": "s",
      "label": "t:sections.announcement-bar.settings.change_slides_speed.label",
      "default": 5
    },
    {
      "type": "header",
      "content": "t:sections.announcement-bar.settings.header__3.content",
      "info": "t:sections.announcement-bar.settings.header__3.info"
    },
    {
      "type": "checkbox",
      "id": "enable_country_selector",
      "default": false,
      "label": "t:sections.announcement-bar.settings.enable_country_selector.label"
    },
    {
      "type": "header",
      "content": "t:sections.announcement-bar.settings.header__4.content",
      "info": "t:sections.announcement-bar.settings.header__4.info"
    },
    {
      "type": "checkbox",
      "id": "enable_language_selector",
      "default": false,
      "label": "t:sections.announcement-bar.settings.enable_language_selector.label"
    }
  ],
  "blocks": [
    {
      "type": "announcement",
      "name": "t:sections.announcement-bar.blocks.announcement.name",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "Welcome to our store",
          "label": "t:sections.announcement-bar.blocks.announcement.settings.text.label"
        },
        {
          "type": "url",
          "id": "link",
          "label": "t:sections.announcement-bar.blocks.announcement.settings.link.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.announcement-bar.presets.name",
      "blocks": [
        {
          "type": "announcement"
        }
      ]
    }
  ]
}
{% endschema %}
