<section class="w-full h-fit py-10 bg-red-500">
    <div class="container mx-auto flex flex-col justify-center items-center gap-4">
        <div class="">
            <h2 class="text-lg font-semibold">Which Gadget is best for you</h2>
        </div>
        <div class="w-full flex items-center gap-2 overflow-x-auto whitespace-nowrap">
            <div class="w-full flex justify-center items-center flex-col border flex-shrink-0">
                <h3>Matebook x89</h3>
                <h4>Only for $2444</h4>
                <div class="border w-full block rounded-lg mx-2">{{ 'collection-5' |  placeholder_svg_tag }}</div>
            </div>
            <div class="w-full flex justify-center items-center flex-col border flex-shrink-0">
                <h3>Matebook x89</h3>
                <h4>Only for $2444</h4>
                <div class="border w-full block rounded-lg mx-2">{{ 'collection-5' |  placeholder_svg_tag }}</div>
            </div>
            <div class="w-full flex justify-center items-center flex-col border flex-shrink-0">
                <h3>Matebook x89</h3>
                <h4>Only for $2444</h4>
                <div class="border w-full block rounded-lg mx-2">{{ 'collection-5' |  placeholder_svg_tag }}</div>
            </div>
            <div class="w-full flex justify-center items-center flex-col border flex-shrink-0">
                <h3>Matebook x89</h3>
                <h4>Only for $2444</h4>
                <div class="border w-full block rounded-lg mx-2">{{ 'collection-5' |  placeholder_svg_tag }}</div>
            </div>
            <div class="w-full flex justify-center items-center flex-col border flex-shrink-0">
                <h3>Matebook x89</h3>
                <h4>Only for $2444</h4>
                <div class="border w-full block rounded-lg mx-2">{{ 'collection-5' |  placeholder_svg_tag }}</div>
            </div>
            <div class="w-full flex justify-center items-center flex-col border flex-shrink-0">
                <h3>Matebook x89</h3>
                <h4>Only for $2444</h4>
                <div class="border w-full block rounded-lg mx-2">{{ 'collection-5' |  placeholder_svg_tag }}</div>
            </div>
            <div class="w-full flex justify-center items-center flex-col border flex-shrink-0">
                <h3>Matebook x89</h3>
                <h4>Only for $2444</h4>
                <div class="border w-full block rounded-lg mx-2">{{ 'collection-5' |  placeholder_svg_tag }}</div>
            </div>
            <div class="w-full flex justify-center items-center flex-col border flex-shrink-0">
                <h3>Matebook x89</h3>
                <h4>Only for $2444</h4>
                <div class="border w-full block rounded-lg mx-2">{{ 'collection-5' |  placeholder_svg_tag }}</div>
            </div>
            <div class="w-full flex justify-center items-center flex-col border flex-shrink-0">
                <h3>Matebook x89</h3>
                <h4>Only for $2444</h4>
                <div class="border w-full block rounded-lg mx-2">{{ 'collection-5' |  placeholder_svg_tag }}</div>
            </div>
            <div class="w-full flex justify-center items-center flex-col border flex-shrink-0">
                <h3>Matebook x89</h3>
                <h4>Only for $2444</h4>
                <div class="border w-full block rounded-lg mx-2">{{ 'collection-5' |  placeholder_svg_tag }}</div>
            </div>
        </div>
    </div>
</section>

{% schema %}
{
    "name": "Collection Second",
    "settings": [
        
    ],
    "presets": [
        {
            "name": "Collection Second"
        }
    ]
}
{% endschema %}