<section class="w-full h-[550px] bg-gray-100 relative md:h-[650px]">
    <div class="container h-fit absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 flex flex-col justify-center items-center gap-4">
        <div class="w-full block">
            <h2 class="text-lg font-semibold text-center mb-1 md:text-xl lg:text-2xl 2xl:text-3xl">
                New Products
            </h2>
        </div>
        {% comment %} overflow-x-auto whitespace-nowrap {% endcomment %}
        <div id="scroll-container" class="no-scrollbar w-full h-[fit] block overflow-x-auto whitespace-nowrap">
            {% if section.settings.product_list_id != blank %}
                {% for product in section.settings.product_list_id %}
                    <a href="{{ product.url }}" class="inline-block w-full max-w-[290px] h-[410px] bg-white rounded-2xl mx-auto sm:max-w-[297px] sm:h-[420px] md:max-w-[361px] md:h-[476px] py-2 mr-2">
                        <div class="w-full max-w-[270px] h-[262px] block rounded-lg mx-2 sm:max-w-[277px] sm:h-[270px] md:max-w-[341px] md:h-[332px] mb-2">
                            <img class="w-full h-full object-cover object-center" src="{{ product.featured_image | image_url:original }}" alt="{{ product.title }}">
                        </div>
                        <div class="w-full px-4 mx-auto h-[97px]">
                            <div class="block whitespace-nowrap overflow-hidden">
                                <h3 class="text-center text-lg font-semibold text-gray-800">
                                    {{ product.title }}
                                </h3>
                            </div>
                            <div class="w-full flex justify-center gap-2 my-1">
                                {% if product.compare_at_price != blank %}
                                    <p class="line-through text-red-700 text-sm">
                                        $ {{ product.compare_at_price }}
                                    </p>
                                {% endif %}                                
                                <p class="text-gray-800 text-sm font-bold">
                                    {{ product.price |  money }}
                                </p>
                            </div>
                            <div>
                                {% comment %} {% for productVariant in product.variants %}
                                    {{ productVariant.available }}
                                {% endfor %} {% endcomment %}
                            </div>
                        </div>
                    </a>
                {% endfor %}
                {% else %}
                {% for item in (1..10) %}
                    <div class="inline-block w-full max-w-[290px] h-[410px] border bg-white rounded-2xl mx-auto sm:max-w-[297px] sm:h-[420px] md:max-w-[361px] md:h-[476px] py-2 mr-2">
                        <div class="border w-full max-w-[270px] h-[262px] block rounded-lg mx-2 sm:max-w-[277px] sm:h-[270px] md:max-w-[341px] md:h-[332px] mb-5">
                            {{ 'product-5' |  placeholder_svg_tag }}
                        </div>
                        <div class="w-full px-4 mx-auto h-[97px]">
                            <div class="block whitespace-nowrap overflow-hidden">
                                <h3 class="text-center text-lg font-semibold text-gray-800">
                                    Product Title
                                </h3>
                            </div>
                            <div class="w-full flex justify-center gap-2 my-1">
                                <p class="line-through text-red-700 text-sm">
                                    $165
                                </p>                             
                                <p class="text-gray-800 text-sm font-bold">
                                    $130
                                </p>
                            </div>
                            <div>
                                {% comment %} {% for productVariant in product.variants %}
                                    {{ productVariant.available }}
                                {% endfor %} {% endcomment %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
            
        </div>
    </div>
</section>

{% style %}
    .no-scrollbar::-webkit-scrollbar{
        display:none;
    }
    .no-scrollbar{
        -ms-overflow-style:none; 
        scrollbar-width:none
    }
{% endstyle %}
<script>
    const scrollContainer = document.getElementById('scroll-container');
    const scrollInterval = 3000; // 3 seconds
    const childDivs = scrollContainer.querySelectorAll('a.inline-block');
    const scrollAmount = childDivs[0].offsetWidth + parseFloat(getComputedStyle(childDivs[0]).marginRight) * 2;
    let currentIndex = 0;

    setInterval(() => {
    // Calculate the new scroll position
    const newScrollLeft = scrollAmount * currentIndex;

    scrollContainer.scroll({
        left: newScrollLeft,
        behavior: 'smooth'
    });

    // Increment the index, looping back to the start if at the end
    currentIndex = (currentIndex + 1) % childDivs.length;
    }, scrollInterval);

</script>

{% schema %}
{
    "name": "Products Alt",
    "settings": [
        {
            "type": "product_list",
            "id": "product_list_id",
            "label": "Product List",
            "limit": 10
        }
    ],
    "presets": [
        {
            "name": "Products Alt"
        }
    ]
}
{% endschema %}